html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

/*#F7F2EC, #F6F0E7, #C9AC8B, #7D6344*/

body {
    margin-bottom: 60px;
    background-image: url("background-image.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.about {
    background: #fff;
    position: center;
    /*shadow*/
    border: 1px solid #C9AC8B;
    padding: 10px;
    box-shadow: 10px 10px #7D6344;
}

#basictext {
    text-indent: 60px;
}