
@if (User.Identity.IsAuthenticated)
{
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Profile">Profile</a>
            </li>
            @if (!String.Equals(User.Claims.FirstOrDefault(x => x.Type == "Picture").Value, "empty"))
            {
                <img style="float: right; height: 50px; max-width: 50px; border-radius: 50%; border: 1px solid black" src="data:image/jpg;base64, @User.Claims.FirstOrDefault(x => x.Type == "Picture").Value" />
            }
            else
            {
                <img style="float: right; height: 50px; max-width: 50px; border-radius: 50%; border: 1px solid black" src="/Pictures/pfp.png" />
            }
            <li class="nav-item">
                <form method="post" class="form-inline" asp-page="/Logout">
                    Welcome @User.Identity.Name
                    <button type="submit" class="btn btn-light ml-5 border-dark">Logout</button>
                </form>
            
            </li>
        </ul>
    </div>
    
    
}
else
{
    <a class="btn btn-light ml-5 border-dark" asp-page="/Login">Login</a>
    <a class="btn btn-dark" asp-page="/Register">Register</a>
}