@page
@model Cheaper_Effort.Pages.Index1Model
@{
    ViewData["Title"] = "Sales";
}

@*NOT PERMANENT CHANGES:*@

<style>
    /* The container */
    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
</style>

<div class="about">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2303.8565364165047!2d25.26132511562141!3d54.729738277891926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd913fbe6a26fb%3A0x3b2074b236abf4e9!2sMIF%20fakulteto%20pastatas%2C%20Didlaukio%20g.%2047%2C%20Vilnius%2008303!5e0!3m2!1slt!2slt!4v1664915261478!5m2!1slt!2slt" 
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    <br />

    <h5 class="main-line">
        Choose a store you wish to check:
    </h5>
    
    <label class="container">
        Rimi
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Maxima
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label class="container">
        Iki
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>

    <h5 class="main-line">
        Current Available Sales:
    </h5>

    <p style="text-align: center;">To be continued...</p>

</div>