@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="About">
    <h4 style="text-align: center; font-style: italic; background-color: #AAC4FF;">What is Cheaper Effort?</h4>
    <hr />
    <h5 id="main-line" style="text-align: center; color: #094074; text-indent: 60px">
        Cheaper effort was created in order to make your daily life easier!
    </h5>

    <p id="basictext">
        Have you ever felt too tired after work or a long session of studying to figure out what food to make? Maybe deciding to order food or even starting to skip proper meals because of exhaustion?
        Such situations will lead to you neglecting your health. We do not wish for you to experience that and have decided to make the entire process easier and more rewarding than before!
    </p>

    <p id="basictext">
        We offer you a service that let's you enter your current products in the fridge, and receive quickest options of what you can make.
        Not only does this service offer quick problem solving when it comes to food making, but also makes it into a game!
    </p>

    <p id="basictext">
        Every time you make a meal from our shown collection - tick it off as done and you'll receive points! These points automatically enter you into a game which allows you to connect with your friends and fight for number one spot, therefore further encouraging you to eat healthy and stay active!
    </p>
</div>