@page
@using Cheaper_Effort.Models
@model Cheaper_Effort.Pages.NewRecipeModel
@{
}
<div classclass="mt-5">
    <form method="post">
        <div class="form-group">
            <label asp-for="Recipe.Name" class="form-label">Name</label>
            <input asp-for="Recipe.Name" class="form-control" />
            <span asp-validation-for="Recipe.Name" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Recipe.Instructions" class="form-label">Ingredients</label>
            <input asp-for="Recipe.Instructions" class="form-control" />
            <span asp-validation-for="Recipe.Ingredients" class="text text-danger"></span>
        </div>
        <div class="form-group">
            <div class="mb-3">
                <label asp-for="Recipe.CategoryType" class="form-label">Categoty</label>
                <select asp-for="Recipe.CategoryType" asp-items="Html.GetEnumSelectList<Category>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Recipe.CategoryType" class="text-danger" />
            </div>
        </div>
            <br>
            <button class="wt-20 col-12 btn btn-primary btn-lg">Submit</button>
</form>
</div>