@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="about">
    <h4 class="headline-text">Privacy Policy</h4>
    <hr />
    <h5 class="main-line">
    Introduction
    </h5>

    <p class="basic-text">
         We at Cheaper Effort want you to understand what information we collect, and how we use and share it. 
         That’s why we encourage you to read our Privacy Policy. This helps you use Cheaper Effort Products in the way that’s right for you.
         In the Privacy Policy, we explain how we collect, use, share, retain and transfer information. We also let you know your rights. 
         Each section of the Policy includes helpful examples and simpler language to make our practices easier to understand. 
         We’ve also added links to resources where you can learn more about the privacy topics that interest you.
         It's important to us that you know how to control your privacy, so we also show you where you can manage your 
         information in the settings of the Meta Products you use. You can  to shape your experience.
         Read the full policy below.
    </p>

    <h5 class="main-line">
         Data collection
    </h5>
    <p class="basic-text">
         Our company gives you the choice of using this website both offline and online modes - every bit of information we have is only 
         aquired once you choose to directly share it - create a profile, add your location for store tracking and etc. This site uses no cookies 
         for data collection (as we are not offically launched) and wishes to ensure your outmost confidentiality as a precious user.
    </p>
</div>

    @*We at Meta want you to understand what information we collect, and how we use and share it. That’s why we encourage you to read our Privacy Policy. This helps you use Meta Products in the way that’s right for you.
In the Privacy Policy, we explain how we collect, use, share, retain and transfer information. We also let you know your rights. Each section of the Policy includes helpful examples and simpler language to make our practices easier to understand. We’ve also added links to resources where you can learn more about the privacy topics that interest you.
It's important to us that you know how to control your privacy, so we also show you where you can manage your information in the settings of the Meta Products you use. You can  to shape your experience.
Read the full policy below.*@
</div>

