@page
@model Cheaper_Effort.Pages.RecipeDetailsModel
@{
}

<div class="mt-5 about">
    <h1 class="headline-text">@Model.recipeDetails.Name</h1>
    <div class="container">
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: left;">Try out this recipe and get <span style="color: #339966;">@Model.recipeDetails.Points&nbsp;<span style="color: #000000;">points!</span></span></p>
        <p style="text-align: left;">&nbsp;</p>
        <h3 style="text-align: left;"><span style="color: #339966;"><span style="color: #000000;">Ingredients:<img style="float: right;" src="https://t3.ftcdn.net/jpg/01/59/72/46/360_F_159724657_pTBbBhM4JOgcxO608MLSRPBy1ZYH5qPk.jpg" alt="Under Maintenance&quot; Images &ndash; Browse 289 Stock Photos, Vectors, and Video |  Adobe Stock" width="360" height="220" /></span></span></h3>
        <ul>
            @foreach(var ingr in Model.recipeDetails.Ingredients)
            {
                <li><span style="color: #339966;"><span style="color: #000000;">@ingr</span></span></li>
            }
        </ul>
        <p>&nbsp;</p>
        <h3><span style="color: #339966;"><span style="color: #000000;">How To Prepare:</span></span></h3>
        <p><span style="color: #339966;"><span style="color: #000000;">@Model.recipeDetails.Instructions</span></span></p>
    </div>
</div>