@page
@model Cheaper_Effort.Pages.Forms.ProductsModel
@{
    ViewData["Title"] = "Products";
}

<form method="post">
    <div class="text-left about">@*overall big white block div*@
        <h1 class="headline-text">Products selection</h1>

        <div class="headline-text">@*printing list of items to select*@
            @if (Model.Ingredients.Count() == 0)
                }
                <p class="text-center">No data to display</p>
                {
                else
                {
                <div class="row g-0">

                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <br>
                        <br>
                        <ul style=" list-style: none;">
                            <li class="basic-normal-text">
                                @String.Join(", ", ingredient.IngredientName)
                            </li>
                        </ul>
                    }
                }

                <div class="form-group mt-2">@*button*@
                    <input type="submit" value="Submit" class="btn btn-primary button button-position-1" />
                </div>
            </div>
</form>